@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 15px;
}

@media screen and (min-width: 375px) {
  h1 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    margin-bottom: 60px;
  }

  .container {
    display: flex;
    margin-bottom: 10px;
    width: 798px;
    height: 430px;
    border-radius: 10px;
  }

  .column {
    width: 266px;
    padding: 50px 30px;
  }

  #c1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
  }
  #c1 > button {
    color: hsl(31, 77%, 52%);
    text-transform: capitalize;
  }
  #c2 {
    background-color: hsl(184, 100%, 22%);
  }
  #c2 > button {
    color: hsl(184, 100%, 22%);
    text-transform: capitalize;
  }
  #c3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
  }
  #c3 > button {
    color: hsl(179, 100%, 13%);
    text-transform: capitalize;
  }
  img {
    width: 60px;
    margin-bottom: 20px;
  }

  button {
    width: 130px;
    height: 40px;
    border: 1px solid white;
    border-radius: 30px;
  }

  button:hover,
  #c1 > button:hover,
  #c2 > button:hover,
  #c3 > button:hover {
    background-color: transparent;
    color: white;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    border-radius: 10px;
    margin: 20px 0px;
  }

  .column {
    width: 300px;
    padding: 50px 30px;
  }

  #c1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
  }
  #c1 > button {
    color: hsl(31, 77%, 52%);
  }
  #c2 {
    background-color: hsl(184, 100%, 22%);
  }
  #c2 > button {
    color: hsl(184, 100%, 22%);
  }
  #c3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
  }
  #c3 > button {
    color: hsl(179, 100%, 13%);
  }
  img {
    width: 60px;
    margin-bottom: 20px;
  }

  button {
    width: 130px;
    height: 40px;
    border: 1px solid white;
    border-radius: 30px;
  }
}
